arte
astropy
scikit-image
scikit-learn
vmbpy
pipython
photutils
scipy
ruamel.yaml
Pyro4
h5py
jdcal
tqdm
matplotlib
xupy
numpy
qtconsole
PyYAML
PySide6-Essentials
QtPy
ipykernel
jupyter_client
pyqtgraph
qtawesome
